<html>
    <body>
        <div>
            <form method="get">
                <input name="start-date" type="date">
                <input name="deadline" type="number" placeholder="Deadline period">
                <select>
                    {% for option in options %}
                    <option>
                        {{ option }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
        </div>
    </body>
</html>